*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.return {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: solid #4CAF50;
    color:#4CAF50;
    width: fit-content;
    border-radius: 50px;
    text-decoration: none;
    margin: 15px auto 15px auto;
}