body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    justify-content: center;
}

.menu {
    text-align: center;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 50px 150px;
    background-color: #fff;
    width: fit-content;
    min-width: 25%;
    margin: 10% auto auto auto;
}

.title {
    font-size: 36px;
    margin-bottom: 30px;
}

.button {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: #fff;
    display: block;
    border-radius: 5px;
    text-decoration: none;
}

.top-div {
    margin-bottom: 50px;
}

.bottom-div {
    margin: 20px 10px 30px 0;
}

.bottom-div a {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    background-color: #45a049;
}

.bottom-div .active {
    background-color: white;
    color: #45a049;
    border: #45a049 solid;
}